*.exe
cmake-build-debug/
.idea/
CMakeLists.txt
**.agdai
**/in*
**/out
**/Makefile
**/t1
**/t2
**/t3
**/out
**/my
**/sys

**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.cb
**/*.cb2
**/*.*.lb
**/*.pre
**/*.lyx~

**/*.ccls-cache
topics.org
notes/problems.org
